@import "components/mixins";

.page-title-count {
    font-size: 0.85em;
    vertical-align: middle;
}

@import "components/table";

.table-loading tbody {
    opacity: 0.5;
}

.btn-wrapper {
    .btn-text {
        border: 0px;
        box-shadow: none;
        background: none;
    }
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

@include repeat(padding, '.pt-', top, 0, 3, 1rem);
@include repeat(padding, '.pt-sm-', top, 0, 12, 0.25rem);
@include repeat(padding, '.pr-', right, 0, 3, 1rem);
@include repeat(padding, '.pr-sm-', right, 0, 12, 0.25rem);
@include repeat(padding, '.pb-', bottom, 0, 3, 1rem);
@include repeat(padding, '.pb-sm-', bottom, 0, 12, 0.25rem);
@include repeat(padding, '.pl-', left, 0, 3, 1rem);
@include repeat(padding, '.pl-sm', left, 0, 12, 0.25rem);
@include repeat(margin, '.mt-', top, 0, 3, 1rem);
@include repeat(margin, '.mt-sm', top, 0, 12, 0.25rem);
@include repeat(margin, '.mr-', right, 0, 3, 1rem);
@include repeat(margin, '.mr-sm', right, 0, 12, 0.25rem);
@include repeat(margin, '.mb-', bottom, 0, 3, 1rem);
@include repeat(margin, '.mb-sm', bottom, 0, 12, 0.25rem);
@include repeat(margin, '.ml-', left, 0, 3, 1rem);
@include repeat(margin, '.ml-sm-', left, 0, 12, 0.25rem);

@include repeat-important(padding, '.pt-', top, 0, 3, 1rem);
@include repeat-important(padding, '.pr-', right, 0, 3, 1rem);
@include repeat-important(padding, '.pb-', bottom, 0, 3, 1rem);
@include repeat-important(padding, '.pl-', left, 0, 3, 1rem);
@include repeat-important(padding, '.pl-sm-', left, 0, 12, 0.25rem);
@include repeat-important(margin, '.mt-', top, 0, 3, 1rem);
@include repeat-important(margin, '.mr-', right, 0, 3, 1rem);
@include repeat-important(margin, '.mb-', bottom, 0, 3, 1rem);
@include repeat-important(margin, '.mb-sm-', bottom, 0, 12, 0.25rem);
@include repeat-important(margin, '.ml-', left, 0, 3, 1rem);

.h3 {
    font-size: 18px;
    line-height: 20px;
}

.h4 {
    font-size: 14px;
    line-height: 16px;
}

.h5 {
    font-size: 13px;
    line-height: 15px;
}

.h6 {
    font-size: 12px;
    line-height: 14px;
}

.font-normal {
    font-weight: normal;
}

.text-muted {
    color: #999;
}

.cursor-pointer{
    cursor: pointer;
}

.select2-selected + span .select2-selection {
	height: 52px;
}

.img-container{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.img-producto{
    max-height: 38px;
    width: auto;
}

.btn-mobile-min{
    min-width: 48px;
}