.com_sabullvial .control-label [class*=span] {
  min-height: inherit !important;
}
.com_sabullvial .input-producto-nombre {
  margin-bottom: 0px;
}
.com_sabullvial .input-producto-nombre:not(:invalid) + div {
  display: none;
}
.com_sabullvial select.select-micro {
  padding: 0px 2px;
  font-size: 12px;
  height: 18px;
  margin-bottom: 0px;
}
.com_sabullvial select.select-micro.span {
  margin-bottom: 0px;
}
.com_sabullvial select.select-mini {
  height: 24px;
  margin-bottom: 4px;
}
.com_sabullvial select.w-100 {
  width: 100%;
}
.com_sabullvial .reduce-br + .chzn-container .chzn-single b {
  font-weight: normal;
}
.com_sabullvial .reduce-br + .chzn-container .chzn-single br {
  display: block;
  margin-bottom: -12px;
}
.com_sabullvial .reduce-br + .chzn-container .chzn-single .chzn-on-title-hide {
  display: none;
}
.com_sabullvial .control-group.error input {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .com_sabullvial .j-sidebar-container {
    width: 440px;
  }
  .com_sabullvial .j-sidebar-container .vue-form-cliente {
    width: 100%;
  }
  .com_sabullvial .j-sidebar-container .vue-form-cliente input {
    width: calc(100% - 150px);
  }
  .com_sabullvial #j-main-container {
    width: calc(100% - 440px);
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .com_sabullvial .field-clienteortext-wrapper .input-append {
    width: 100%;
    white-space: normal;
  }
  .com_sabullvial .field-clienteortext-wrapper .input-append input {
    display: block;
    width: 95%;
  }
  .com_sabullvial .field-clienteortext-wrapper .input-append button {
    margin-top: 4px;
  }
  .com_sabullvial .field-clienteortext-wrapper .input-append button:first-of-type {
    border-radius: 3px 0 0 3px;
    margin-left: 0px;
  }
  .com_sabullvial .field-clienteortext-wrapper .input-append .field-clienteortext-input-name {
    border-radius: 3px;
  }
  .com_sabullvial #previewCotizacion {
    width: 90vw;
    margin-left: -45vw;
  }
  .com_sabullvial #previewCotizacion label[for=filter_id_condicionventa_fake] + select {
    margin-top: -6px;
  }
}
.com_sabullvial .documento-field {
  margin-top: -12px;
}
.com_sabullvial .documento-field .input-prepend .btn-group > .dropdown-toggle {
  padding-bottom: 3px;
  border-radius: 3px 0 0 3px;
}
.com_sabullvial .cliente-choices-item .cliente-choice-item-inhabilitado {
  color: red;
}
.com_sabullvial #modalProductoCarousel {
  max-width: calc(100vw - 24px);
}

.notify-title {
  min-width: 270px;
}

.text-uppercase {
  text-transform: uppercase;
}

#system-message-container > div:last-child {
  margin-bottom: 34px;
}

.ml-1 {
  margin-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.table-totales, .btn-esperar-pagos {
  margin: 0px 0px 0px auto;
}

.table-totales {
  width: auto !important;
  max-width: 280px;
}

.btn-esperar-pagos {
  width: 160px;
}

#previewCotizacion .input-xxlarge {
  width: 360px;
}
@media (max-width: 767px) {
  #previewCotizacion .input-xxlarge {
    width: 100%;
  }
}

.line-height-12 {
  line-height: 12px !important;
}

@media (max-width: 767px) {
  .font-small\@xs {
    font-size: 12px !important;
  }
}/*# sourceMappingURL=puntosdeventa.css.map */