@import "components/variables";
@import "components/mixins";

.modal{
    .modal-body {
        .container-fluid {
            @include sm{
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .btn-img-remito{
            margin-left: 4px;

            @include sm{
                margin-left: 0px;
                margin-top: 4px;
            }
        }
    }
}

#toolbar-{

    &deliveredbycounter{
        button{
            span:before{
                color: $color-info-dark;
            }
        }
    }

    &addRemitoToRouteSheet{
        button{
            span:before{
                color: $color-success-dark;
            }
        }
    }

    &removeRemitoFromRouteSheet{
        button{
            span:before{
                color: $color-danger-dark;
            }
        }
    }
}