.fc-theme-bootstrap .table {
  border: 1px solid #ddd;
}
@media (max-width: 767px) {
  .fc-theme-bootstrap {
    margin-top: 1rem;
  }
}
.fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:first-child .btn-group {
  padding-left: 0px;
}
@media (max-width: 767px) {
  .fc-theme-bootstrap .fc-header-toolbar {
    display: block;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk {
    width: 50%;
    float: left;
    display: block;
    margin-bottom: 1rem;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:first-child {
    width: 50%;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    text-align: right;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) h2 {
    font-size: 1.25em;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:last-child {
    text-align: left;
    width: 100%;
  }
  .fc-theme-bootstrap .fc-header-toolbar .fc-toolbar-chunk:last-child .btn-group {
    padding-left: 0px;
  }
}
.fc-theme-bootstrap .fc-scrollgrid-section-header > th {
  border-bottom: 2px solid #ddd;
  padding-top: 2px;
  padding-bottom: 0px;
}
.fc-theme-bootstrap .fc-scrollgrid-section-header .fc-col-header-cell {
  padding-top: 0px;
  padding-bottom: 0px;
}
.fc-theme-bootstrap .fc-scrollgrid-section-body > td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.fc-theme-bootstrap .event-important .fc-daygrid-event-dot,
.fc-theme-bootstrap .event-important .fc-list-event-dot {
  border-color: #a94442;
}
.fc-theme-bootstrap .event-warning .fc-daygrid-event-dot,
.fc-theme-bootstrap .event-warning .fc-list-event-dot {
  border-color: #f89406;
}
.fc-theme-bootstrap .event-info .fc-daygrid-event-dot,
.fc-theme-bootstrap .event-info .fc-list-event-dot {
  border-color: #31708f;
}
.fc-theme-bootstrap .fc-daygrid-day-events > div {
  margin-bottom: 0.25rem;
}
.fc-theme-bootstrap .fc-daygrid-day-events > div:nth-child(2n+1) {
  background-color: #f9f9f9;
}
.fc-theme-bootstrap .fc-event {
  align-items: baseline;
  cursor: default;
}
.fc-theme-bootstrap .fc-event .fc-event-title {
  white-space: normal;
}
.fc-theme-bootstrap .fc-event .fc-event-time {
  margin-right: 6px;
}
.fc-theme-bootstrap .fc-timeGridWeek-view .fc-scrollgrid .fc-scrollgrid-section-body > td {
  border-bottom: 1px solid #ddd;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-info,
.fc-theme-bootstrap .fc-timeGridDay-view .event-important,
.fc-theme-bootstrap .fc-timeGridDay-view .event-warning, .fc-theme-bootstrap .fc-timeGridWeek-view .event-info,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-important,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-warning {
  border: 0;
  padding: 8px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #f9f9f9;
  color: black;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-info .fc-event-time,
.fc-theme-bootstrap .fc-timeGridDay-view .event-important .fc-event-time,
.fc-theme-bootstrap .fc-timeGridDay-view .event-warning .fc-event-time, .fc-theme-bootstrap .fc-timeGridWeek-view .event-info .fc-event-time,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-important .fc-event-time,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-warning .fc-event-time {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-info .fc-event-time::before,
.fc-theme-bootstrap .fc-timeGridDay-view .event-important .fc-event-time::before,
.fc-theme-bootstrap .fc-timeGridDay-view .event-warning .fc-event-time::before, .fc-theme-bootstrap .fc-timeGridWeek-view .event-info .fc-event-time::before,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-important .fc-event-time::before,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-warning .fc-event-time::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 4px;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-info .fc-event-title-container,
.fc-theme-bootstrap .fc-timeGridDay-view .event-important .fc-event-title-container,
.fc-theme-bootstrap .fc-timeGridDay-view .event-warning .fc-event-title-container, .fc-theme-bootstrap .fc-timeGridWeek-view .event-info .fc-event-title-container,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-important .fc-event-title-container,
.fc-theme-bootstrap .fc-timeGridWeek-view .event-warning .fc-event-title-container {
  font-size: 13px;
  color: black;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-info .fc-event-time::before, .fc-theme-bootstrap .fc-timeGridWeek-view .event-info .fc-event-time::before {
  background: #31708f;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-important .fc-event-time::before, .fc-theme-bootstrap .fc-timeGridWeek-view .event-important .fc-event-time::before {
  background: #a94442;
}
.fc-theme-bootstrap .fc-timeGridDay-view .event-warning .fc-event-time::before, .fc-theme-bootstrap .fc-timeGridWeek-view .event-warning .fc-event-time::before {
  background: #f89406;
}/*# sourceMappingURL=tareascalendario.css.map */