.fc-theme-bootstrap {
    .table {
        border: 1px solid #ddd;
    }

    @media (max-width: 767px) {
        margin-top: 1rem;
    }

    .fc-header-toolbar {
        .fc-toolbar-chunk:first-child {
            .btn-group {
                padding-left: 0px;
            }
        }

        @media (max-width: 767px) {
            display: block;

            .fc-toolbar-chunk {
                width: 50%;
                float: left;
                display: block;
                margin-bottom: 1rem;

                &:first-child {
                    width: 50%;
                }

                &:nth-child(2) {
                    text-align: right;
                    h2 {
                        font-size: 1.25em;
                    }
                }

                &:last-child {
                    text-align: left;
                    width: 100%;

                    .btn-group {
                        padding-left: 0px;
                    }
                }
            }
        }
    }

    .fc-scrollgrid-section-header {
        & > th {
            border-bottom: 2px solid #ddd;
            padding-top: 2px;
            padding-bottom: 0px;
        }
        .fc-col-header-cell {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    .fc-scrollgrid-section-body > td {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .event-important {
        .fc-daygrid-event-dot,
        .fc-list-event-dot {
            border-color: #a94442;
        }
    }

    .event-warning {
        .fc-daygrid-event-dot,
        .fc-list-event-dot {
            border-color: #f89406;
        }
    }

    .event-info {
        .fc-daygrid-event-dot,
        .fc-list-event-dot {
            border-color: #31708f;
        }
    }

    .fc-daygrid-day-events {
        & > div {
            margin-bottom: 0.25rem;
        }
        & > div:nth-child(2n + 1) {
            background-color: #f9f9f9;
        }
    }

    .fc-event {
        align-items: baseline;
        cursor: default;

        .fc-event-title {
            white-space: normal;
        }

        .fc-event-time {
            margin-right: 6px;
        }
    }

    .fc-timeGridWeek-view {
        .fc-scrollgrid {
            .fc-scrollgrid-section-body {
                & > td {
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }

    .fc-timeGridDay-view, .fc-timeGridWeek-view {
        .event-info,
        .event-important,
        .event-warning {
            border: 0;
            padding: 8px;
            box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
            background-color: #f9f9f9;
            color: black;

            .fc-event-time {
                font-size: 13px;
                font-weight: bold;
                color: black;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    margin-right: 4px;
                }
            }

            .fc-event-title-container {
                font-size: 13px;
                color: black;
            }
        }
        .event-info {
            // background-color: #d9edf7;
            // color: #31708f;

            .fc-event-time {
                // color: #31708f;

                &::before {
                    background: #31708f;
                }
            }

            .fc-event-title-container {
                // color: #31708f;
            }
        }
        .event-important {
            // background-color: #f2dede;
            // color: #a94442;

            .fc-event-time {
                // color: #a94442;

                &::before {
                    background: #a94442;
                }
            }

            .fc-event-title-container {
                // color: #a94442;
            }
        }
        .event-warning {
            // background-color: #fcf8e3;
            // color: #f89406;

            .fc-event-time {
                // color: #f89406;

                &::before {
                    background: #f89406;
                }
            }

            .fc-event-title-container {
                // color: #f89406;
            }
        }
    }
}
