.tareanota-wrapper {
    max-width: 460px;

    .tareanota-input-container {
        position: relative;
        display: inline-block;
        margin-bottom: 18px;
        width: 100%;

        textarea {
            padding-bottom: 50px;
        }

        button {
            position: absolute;
            right: 12px;
            bottom: 12px;
        }
    }

    .tareanota-notas-container {
        color: #626262;
        padding: 8px 15px;
        background: #ebebeb;
        border: 1px solid #dedede;
        box-shadow: 0 0 3px #00000014;

        .tareanota-notas-title {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 32px;
        }

        .chat-bubble {
            display: block;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 16px;
            }

            .chat-bubble-author {
                font-weight: bold;
                margin-bottom: 4px;
            }

            .chat-bubble-body {
                position: relative;
                display: inline-block;
                background: white;
                padding: 15px;
                padding-right: 30px;
                margin-bottom: 4px;
                border: 1px solid #f2f2f2;
                border-radius: 15px;
                border-top-left-radius: 0px;

                .chat-bubble-btn-delete {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    color: #6c757d;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    text-align: center;

                    span{
                        margin: 0px;
                    }

                    &:hover{
                        color: black;
                    }
                }
            }

            .chat-bubble-info {
                font-size: 12px;
            }

            .chat-bubble-author,
            .chat-bubble-info {
                margin-left: 1px;
            }
        }
    }
}
