<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="cotizaciones" label="COM_SABULLVIAL_CONFIG_COTIZACIONES_LABEL">
		
		<field
			name="cotizacion_estado_creado"
			type="estadocotizacion"
			label="Estado creado"
			desc="Se usa para asignar al pedido luego de la creación"
			class="inputbox"
		/>
		<field
			name="cotizacion_estado_completo"
			type="estadocotizacion"
			label="Estado completo"
			desc="Se usa para asignar al pedido luego de la revisión"
			class="inputbox"
		/>
		<field
			name="cotizacion_estado_incompleto"
			type="estadocotizacion"
			label="Estado incompleto"
			desc="Se usa para asignar al pedido luego de la revisión"
			class="inputbox"
		/>
		<field
			name="cotizacion_estado_aprobado_automatico"
			type="estadocotizacion"
			label="Estado aprobado automático"
			desc="Se usa para asignar al pedido luego de la aprobación automática"
			class="inputbox"
		/>
		<field
			name="cotizacion_estado_duplicado"
			type="estadocotizacion"
			label="Estado duplicado"
			desc="Se usa para asignar al pedido luego de la duplicación"
			class="inputbox"
		/>
		<field
			name="cotizacion_productos_modificar_descripcion_maxlength"
			type="text"
			label="Cantidad de caracteres máxima para la descripción de los productos"
			class="inputbox"
			default="30"
		/>
		<field
			name="cotizacion_rechazar_por_condicion_de_venta_distina_a_transferencia"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="Rechazar pedido al cambiar de Transferencia a otra condición de venta"
			description="Si el cliente elegido en el cotizador tiene condición de venta igual a Transferencia, el vendedor lo cambia y lo envía a facturación, el pedido será rechazado. Solo si el usuario no tiene aprobación automática "
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="spacer"
			type="spacer"
			label="&lt;hr/&gt;&lt;h4&gt;Depósito&lt;/h4&gt;"
		/>

		<field
			name="cotizacion_deposito_default"
			type="deposito"
			label="Depósito por defecto"
			desc="Depósito por defecto para asignar a los pedidos"
			class="inputbox"
		/>

		<field
			name="spacer0"
			type="spacer"
			label="&lt;b&gt;Condición 1: si transporte X setear depósito Y&lt;/b&gt;"
		/>

		<field
			name="cotizacion_deposito_if_transporte_0"
			type="transporte"
			label="Si transporte"
			description="Si el vendedor elige el transporte elegido aquí se asignará el depósito por defecto seleccionado en el campo siguiente"
			class="inputbox span6"
			default=""
			>
			<option value="">COM_SABULLVIAL_COTIZACION_SELECCIONAR_TRANSPORTE</option>
		</field>

		<field
			showon="cotizacion_deposito_if_transporte_0!:,0"
			name="cotizacion_deposito_if_transporte_0_deposito"
			type="deposito"
			label="Asignar depósito"
			desc="Depósito por defecto para asignar a los pedidos con el transporte 0 seleccionado"
			class="inputbox"
		/>

		<field
			name="spacer1"
			type="spacer"
			label="&lt;b&gt;Condición 2: si transporte X setear depósito Y&lt;/b&gt;"
		/>

		<field
			name="cotizacion_deposito_if_transporte_1"
			type="transporte"
			label="Si transporte"
			description="Si el vendedor elige el transporte elegido aquí se asignará el depósito por defecto seleccionado en el campo siguiente"
			class="inputbox span6"
			default=""
			>
			<option value="">COM_SABULLVIAL_COTIZACION_SELECCIONAR_TRANSPORTE</option>
		</field>

		<field
			showon="cotizacion_deposito_if_transporte_1!:,0"
			name="cotizacion_deposito_if_transporte_1_deposito"
			type="deposito"
			label="Asignar depósito"
			desc="Depósito por defecto para asignar a los pedidos con el transporte 1 seleccionado"
			class="inputbox"
		/>

		<field
			name="spacer2"
			type="spacer"
			label="&lt;hr/&gt;&lt;h4&gt;Esperar Pagos&lt;/h4&gt;"
		/>
		
		<field
			name="cotizacion_estado_esperar_pagos_en_espera"
			type="estadocotizacionpago"
			label="Estado esperar pagos en espera"
			desc="Se usa para asignar al pedido cuando esta en espera de pagos"
			class="inputbox"
		/>
		<field
			name="cotizacion_estado_esperar_pagos_pagado"
			type="estadocotizacionpago"
			label="Estado esperar pagos pagado"
			desc="Se usa para asignar al pedido luego de aprobar el pago"
			class="inputbox"
		/>

	</fieldset>
	<fieldset name="ordendetrabajo" label="COM_SABULLVIAL_CONFIG_ORDEN_DE_TRABAJO_LABEL">
		
		<field
			name="orden_de_trabajo_estado_creado"
			type="estadocotizacion"
			label="Estado creada"
			desc="Se usa para asignar al pedido luego de la creación"
			class="inputbox"
		/>
		<field
			name="orden_de_trabajo_estado_duplicado"
			type="estadocotizacion"
			label="Estado duplicado"
			desc="Se usa para asignar al pedido luego de la duplicación"
			class="inputbox"
		/>

	</fieldset>
	<fieldset name="tareas" label="COM_SABULLVIAL_CONFIG_TAREAS_LABEL">
		<field
			name="tareas_dias_alerta_expiracion"
			type="number"
			label="Cantidad de días para alertar que expira una tarea"
			class="inputbox"
			default="3"
		/>

	</fieldset>
	<fieldset 
		name="dashboardcrm"
		label="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_LABEL"
		description="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_DESC"
	>
		<field
			name="dashboard_crm_estados_cotizacion_realizadas"
			type="estadocotizacion"
			label="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_ESTADO_COTIZACIONES_REALIZADAS_LABEL"
			class="inputbox"
			multiple="true"
		/>
		<field
			name="dashboard_crm_estados_cotizacion_rechazadas"
			type="estadocotizacion"
			label="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_ESTADO_COTIZACIONES_RECHAZADAS_LABEL"
			class="inputbox"
			multiple="true"
		/>
		<field
			name="dashboard_crm_estados_cotizacion_productos_mas_vendidos"
			type="estadocotizacion"
			label="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_ESTADO_MAS_VENDIDOS_LABEL"
			class="inputbox"
			multiple="true"
		/>
		<field
			name="dashboard_crm_dias_ultima_compra"
			type="number"
			label="COM_SABULLVIAL_CONFIG_DASHBOARD_CRM_DIAS_ULTIMA_COMPRA_LABEL"
			class="inputbox"
			default="90"
		/>

		
	</fieldset>
	<fieldset 
		name="remitos"
		label="COM_SABULLVIAL_CONFIG_REMITOS_LABEL"
	>
		<field
			name="remitos_estados_default_sin_estado"
			type="estadoremito"
			label="COM_SABULLVIAL_CONFIG_REMITOS_ESTADO_DEFAULT_SIN_ESTADO_LABEL"
			description="COM_SABULLVIAL_CONFIG_REMITOS_ESTADO_DEFAULT_SIN_ESTADO_DESC"
			class="inputbox"
		/>

		<field name="remitos_optimizar_imagenes_chunk_size"
			type="text"
			label="COM_SABULLVIAL_CONFIG_REMITOS_OPTIMIZAR_IMAGENES_CHUNK_SIZE_LABEL"
			description="COM_SABULLVIAL_CONFIG_REMITOS_OPTIMIZAR_IMAGENES_CHUNK_SIZE_DESC"
			default="20"
			class="inputbox"
		/>

		<field name="remitos_optimizar_imagenes_index"
			type="text"
			label="COM_SABULLVIAL_CONFIG_REMITOS_OPTIMIZAR_IMAGENES_INDEX_LABEL"
			description="COM_SABULLVIAL_CONFIG_REMITOS_OPTIMIZAR_IMAGENES_INDEX_DESC"
			default="0"
			class="inputbox"
		/>
	</fieldset>
	<fieldset name="advanced" label="COM_SABULLVIAL_CONFIG_ADVANCED_SETTINGS_LABEL" addfieldpath="administrator/components/com_sabullvial/models/fields">
		<field
			name="database_name_tango"
			type="text"
			label="COM_SABULLVIAL_CONFIG_DATABASE_NAME_TANGO_LABEL"
			desc="COM_SABULLVIAL_CONFIG_DATABASE_NAME_TANGO_DESC"
			class="inputbox"
			hint="bullvial"
		/>
		<field
			name="grupo_administrador"
			type="usergroup"
			label="COM_SABULLVIAL_CONFIG_ADMINISTRATOR_GROUP_LABEL"
			desc="COM_SABULLVIAL_CONFIG_ADMINISTRATOR_GROUP_DESC"
			class="inputbox"
		/>
		<field
			name="grupo_logistica"
			type="usergroup"
			label="COM_SABULLVIAL_CONFIG_LOGISTICA_GROUP_LABEL"
			desc="COM_SABULLVIAL_CONFIG_LOGISTICA_GROUP_DESC"
			class="inputbox"
		/>
		<field
			name="grupo_vendedor"
			type="usergroup"
			label="COM_SABULLVIAL_CONFIG_VENDEDOR_GROUP_LABEL"
			desc="COM_SABULLVIAL_CONFIG_VENDEDOR_GROUP_DESC"
			class="inputbox"
		/>
	</fieldset>
	<fieldset name="component">
		<field
			name="vue_production"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="Vue 3 Producción"
			description="Cargar Vue 3 de producción o desarrollo"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			>
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
			
		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			default="5"
		/>
	</fieldset>

	<fieldset 
		name="cliente" 
		label="COM_SABULLVIAL_CONFIG_CLIENTE_LABEL"
		description="COM_SABULLVIAL_CONFIG_CLIENTE_DESC"
		addfieldpath="administrator/components/com_sabullvial/models/fields"
	>
		<field
			name="cliente_id_estadocliente_aprobado_automatico"
			type="estadocliente"
			label="Estado para aprobado automático"
			desc="Estado para asignar cuando es aprobado automaticamente"
			class="inputbox"
		/>
		<field
			name="cliente_formapago_aprobado_automatico"
			type="formapago"
			label="Forma de pago para aprobado automático"
			desc="Si al crear un cliente tiene esta forma de pago se aprueba automáticamente"
			class="inputbox"
			multiple="true"
		/>

		<field
			name="id_condicionventa_default"
			type="condicionventa"
			label="COM_SABULLVIAL_CLIENTE_CONDICION_DE_PAGO_DEFAULT_LABEL"
			description="COM_SABULLVIAL_CLIENTE_CONDICION_DE_PAGO_DEFAULT_DESC"
			required="true"
			>
			<option value="">COM_SABULLVIAL_CLIENTE_SELECCIONAR_CONDICION_DE_PAGO</option>
		</field>

		<field
			name="captcha"
			type="plugins"
			label="COM_SABULLVIAL_CONFIG_CLIENTE_FIELD_CAPTCHA_LABEL"
			description="COM_SABULLVIAL_CONFIG_CLIENTE_FIELD_CAPTCHA_DESC"
			folder="captcha"
			filter="cmd"
			useglobal="true"
			>
			<option value="0">JOPTION_DO_NOT_USE</option>
		</field>

	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC" 
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sabullvial"
			section="component"
		/>
	</fieldset>
</config>